/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

#p1-color, #p2-color, #start, #title, #addPlayers{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#game, #selections, #title, #morePlayersSection{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}



body{
  background-color: #FAEEE7;
}